.Button {
  outline: none;
  background-color: transparent;
  border: none;
  border: 2px solid #fdb813;
  color: #fdb813;
  padding: 0.8rem 2.5rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: background-color var(--transition-time);
  transition: color 0.3s;
  transition: transform 0.3s;
}

.Button:hover {
  background-color: #fdb813;
  color: #3d3d3d;
  transform: scale(1.05);
}

.disabled {
  border: 2px solid #bba88d;
  color: #bba88d;
}

.disabled:hover {
  background-color: #bba88d;
  color: #3d3d3d;
}
