.ContactUs h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.callUs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.callUs img {
  width: 1.1rem;
  margin-right: 0.5rem;
  transform: rotate(10deg);
}

.numbers {
  font-family: "Gelasio", serif;
  white-space: nowrap;
  font-weight: bolder;
}

@media (max-width: 950px) {
  .ContactUs h2 {
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 850px) {
  .ContactUs {
    max-width: 340px;
  }
}
