.slick-dots {
  bottom: -10px;
}

.slick-dots li.slick-active button:before {
  font-size: 10px;
  color: white;
}

.slick-dots li button:before {
  font-size: 10px;
  color: white;
}

.slick-slide div {
  outline: none;
}

.slick-prev {
  left: -55px;
  width: 28px;
  height: 28px;
}

.slick-prev::before {
  font-size: 2rem;
  color: white;
}

.slick-next {
  right: -55px;
  width: 28px;
  height: 28px;
}

.slick-next::before {
  font-size: 2rem;
  color: white;
}
