.SideDrawer {
  position: fixed;
  width: 45%;
  max-width: 350px;
  min-width: 180px;
  height: 100%;
  z-index: 200;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
  overflow: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
